.m-desktop-only {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    display: none;
    padding: 50px;

    p {
        margin: auto;
    }
}

@media (max-width: 1400px) {
    body {
        overflow: hidden;
    }

    .m-desktop-only {
        display: flex;
    }
}