.p-home {
    background-color: $bg;
    height: 800vh;

    h1,
    h2 {
        color: $color;
        font-size: 90px;
        font-family: 'Montserrat', sans-serif;
    }

    h3 {
        color: $color;
        font-size: 70px;
        font-family: 'Montserrat', sans-serif;
    }

    p {
        color: $white;
        font-size: 40px;
        font-family: 'Work Sans', sans-serif;
        margin: 50px 0 30px;
        transform: translateX(-100vw);
        transition: transform 800ms ease-in-out, opacity 1s ease-in-out;

        em {
            color: $color;
            font-style: normal;
            font-family: 'Montserrat', sans-serif;
        }
    }

    section {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        transform: translateX(-100vw);
        transition: transform 1s ease-in-out;

        .container {
            width: 100%;
            max-width: 1440px;
            margin: auto;
            padding: 50px;
            opacity: 0;
            transition: opacity 1s ease-in-out;

            &__flex {
                display: flex;
                text-align: center;

                &__column {
                    width: 50%;

                    svg {
                        width: 50%;
                        height: 50%;
                    }
                }
            }

            &__thirds {
                display: flex;

                &__column {
                    width: 32%;
                    padding: 0 20px;
                    margin: 0 auto;

                    &:first-of-type {
                        text-align: right;
                    }

                    &:nth-of-type(2) {
                        border-left: 1px solid $color;
                        border-right: 1px solid $color;
                    }
                }
            }
        }
    }

    .navigation {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(0);
        z-index: 200;
        display: none;

        .arrow-up {
            cursor: pointer;
            position: absolute;
            left: 50%;
            width: 100px;
            top: 50px;
            transform: translate(-50%, 0) rotate(180deg);
            transition: transform 400ms ease-in-out;

            &:hover {
                transform: translate(-50%, -5px) rotate(180deg);
            }
        }

        .arrow-down {
            cursor: pointer;
            position: absolute;
            left: 50%;
            width: 100px;
            bottom: 50px;
            transform: translate(-50%, 0);
            transition: transform 400ms ease-in-out;

            &:hover {
                transform: translate(-50%, 5px);
            }
        }
    }

    .choose-navigation {
        position: fixed;
        width: 100vw;
        height: 20px;
        transform: translateX(0);
        z-index: 400;

        &__container {
            position: absolute;
            top: 50px;
            right: 50px;
        }

        label {
            color: $white;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
        }
    }

    .scroll {
        overflow-y: scroll;
        height: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    // Sections

    .section-1 {
        svg path {
            transform: translateX(-100vw);
            opacity: 0;
            transition: transform 800ms ease-in-out, opacity 1s ease-in-out;
        }

        @for $i from 0 through 9 {
            svg path:nth-child(#{$i}) {
                transition-delay: #{$i * .05}s;
            }
        }
    }

    .section-1 {
        svg {
            width: 50%;
        }
    }

    .section-4 {
        svg {
            width: 75%;

            text {
                fill: $white;
            }
        }
    }

    .section-5 {
        svg path {
            transform: translateX(-100vw);
            opacity: 0;
            transition: transform 800ms ease-in-out, opacity 1s ease-in-out;
        }

        @for $i from 0 through 11 {
            svg:first-of-type path:nth-child(#{$i}) {
                transition-delay: #{$i * .05}s;
            }
        }

        @for $i from 12 through 16 {
            svg:first-of-type path:nth-child(#{$i}) {
                transition-delay: .45s;
            }
        }

        @for $i from 0 through 9 {
            svg:nth-of-type(2) path:nth-child(#{$i}) {
                transition-delay: #{$i * .05}s;
            }
        }

        @for $i from 10 through 17 {
            svg:nth-of-type(2) path:nth-child(#{$i}) {
                transition-delay: .35s;
            }
        }
    }

    .section-8 {
        svg {
            width: 35%;
        }
    }

    .section-10 {
        svg {
            display: block;
            height: 250px;
            margin: 60px auto;

            &:first-of-type {
                margin-top: 232px;
            }
        }

        p {
            height: 250px;
            margin: 60px 0;
        }
    }

    .bar-chart {
        width: 100%;
        height: 60px;
        background-color: $grey;
        border-radius: 0 50px 50px 0;

        &__percentage {
            background-color: $color;
            height: 100%;
            border-radius: 0 50px 50px 0;
            transition: width 2s ease-in-out;
            position: relative;

            p {
                position: absolute;
                right: 24px;
                top: 12px;
                color: $bg;
                font-size: 30px;
                font-family: 'Work Sans', sans-serif;
                margin: 0;
            }
        }

        .percentage-33 {
            width: 0;
        }

        .percentage-66 {
            width: 0;
        }
    }

    @for $i from 0 through 5 {
        section p:nth-child(#{$i}) {
            transition-delay: #{$i * .1}s;
        }
    }

    // Visible styling changes

    .visible {
        .container {
            opacity: 1;
        }

        transform: translateX(0);

        .svg-animation {
            path {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .percentage-33 {
            width: 33%;
        }

        .percentage-66 {
            width: 66%;
        }

        p {
            transform: translateX(0);
        }
    }
}